@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translate(0, 30%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(30%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes animateWidthRightToLeft {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
